body {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #4F4F4F;
    font-size: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
    color: #4F4F4F;
    font-size: 32px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
}

h3, label {
    color: #4F4F4F;
    font-size: 24px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;

}

p {
    color: #4F4F4F;
    font-size: 16px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
}

#navbar {
    width: 100%;
    height: 64px;
    background-color: #666666;
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    position: sticky;
    top:0px;
    z-index: 1000;
}

#logo, #signin-logo {
    height: 48px;  
    margin-left: 32px;
    align-self: center;
    display: flex;
}

#logo-text {
    margin: 0px;
    color: white;
    align-self: center;
}

#logo > img, #signin-logo > img {
    width: 48px;
    height: 48px;
    align-self: center;
    object-fit: contain;
}

#nav-1 {
    height: 48px;
    margin-right: 32px;
    align-self: center;
    display: flex;
}

.nav-text, .menu-text {
    font-size: 16px;
    margin: 0px;
    color: white;
    align-self: center;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 24px;
}

.menu-text {
    margin: 5px 10px;
}

.index-body {
    height: 100%;
    background: linear-gradient(89.93deg, rgba(255, 121, 121, 0.8) 19.93%, rgba(116, 144, 240, 0.8) 70.71%);
}

.info-div {
    width: 100%;
    height: 500px;
}

.info-div2 {
    width: 100%;
    height: 200px;
    background: #666666;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.middle-text {
    align-self: center;
    display: flex;
    justify-content: center;
}

.middle-text > h1 {
    color: white;
    margin: 0;
}

#footer-bar {
    width: 100%;
    height: 64px;
    background: #666666;
    display: flex;
    justify-content: center;
}

#footer-bar > p {
    font-weight: 700;
    color: white;
    align-self: center;
}

.info-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#text-box1 {
    width: 450px;
    margin-left: 120px;
}

.head {
    color: white;
}

#adspan1{
    color: #7490F0;
}

#adspan2 {
    color: #e94d4d;
}

.name-span {
    color: #4f4f4f;
}

.name-span:hover {
    color: navy;
}

#image-box1 {
    margin-right: 120px;
}

#ad-img1 {
    width: 600px;
    height: 300px;
    align-self: center;
    object-fit: contain;
}

#image-box2 {
    margin-left: 120px;
}

#text-box2 {
    width: 450px;
    margin-right: 120px;
}

.nav-link, .login-link, .nav-link-2, .menu-link {
    align-self: center;
    text-decoration: none;
}

.menu-link {
    display: none;
}

.nav-text:hover, .menu-text:hover {
    color:#7490F0;
}

.nav-text:active {
    color:#e94d4d;
}

.sign_in-body {
    height: 100vh;
    background: linear-gradient(89.93deg, rgba(255, 121, 121, 0.8) 19.93%, rgba(116, 144, 240, 0.8) 70.71%);
    display: flex;
    justify-content: center;
}

#login-box {
    max-height: 524px;
    height: fit-content;
    width: 460px;
    background-color: white;
    border-radius: 16px;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.25);
}

#box-top {
    height: 64px;
    width: 100%;
    background-color: #666666;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

#signin-logo {
    margin-left: 0px;
}

#box-middle {
    max-height: 396px;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}

#box-bottom {
    height: 64px;
    width: 100%;
    background-color: #666666;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-text {
    margin-top: 16px;
    height: 32px;
    width: 396px;
}

#login-text > h3 {
    margin: 0px;
    padding: 0px;
    color: black;
}

.login-form {
    padding: 0px 16px;
    margin-top: 16px;
    width: 396px;
    height: 48px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px #D3D3D3 solid;
}

.login-button {
    margin-top: 16px;
    width: 396px;
    height: 48px;
    border-radius: 4px;
    border: none;
    background-color: #666666;
    color: white;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}

.login-button:hover {
    background-color: #7490F0;
}

.login-button:active {
    background-color: lightgreen;
}

.link-box {
    margin-top: 16px;
    width: 396px;
}

.login-link-text, .login-box-text, .login-message-text {
    text-align: center;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: blue;
    padding: 0px;
    margin: 0px;
}

.login-box-text {
    color: #4F4F4F;
}

.login-message-text {
    color: white;
}

.widescreen-body {
    position:relative;
    display: flex;
    justify-content: center;
    background-color: navy;
    background-image: url("https://wallpaperaccess.com/full/6251533.jpg");
    background-size: cover;
    z-index: 0;
}

.widescreen-body::before {
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    background-color: black;
    background-size: cover;
}

.main-body, .main-body-2 {
    align-self: center;
    min-height: 100vh; 
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
}

.main-body-2 {
    background-image: url("../main/images/Background-circles.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.title-div {
    margin-left: 64px;
}

.title-div > h1 {
    margin: 24px 0px 0px 0px;
}

#create-blog-div {
    margin-left: 64px;
}

.input-div, .post-input-div {
    display: flex;
    align-items: center;
    margin-top: 24px;
    width: 474px;
    justify-content: space-between;
}

.post-input-div {
    width: 100%;
}

.input-div > h3 {
    margin: 0px;
}

.blog-form-input, .post-form-input, .comment-form-input {
    padding: 0px 16px;
    width: 300px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px #D3D3D3 solid;
    font-size: 16px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
}

.blog-form-input.active {
    border: 1px red solid;
}

.blog-button, .comment-button {
    width: 160px;
    height: 32px;
    color: white;
    background-color: #7490F0;
    border-radius: 32px;
    border: none;
    margin-top: 24px;
    box-sizing: border-box;
    margin-right: 140px;
}

.comment-button {
    width: 100px;
    height: 24px;
    margin-left: 16px;
    margin-right: 0px;
}

.blog-button:hover, .comment-button:hover {
    background-color: #e94d4d;
    cursor: pointer;
}

.blog-banner {
    max-height: 160px;
    width: 100%;
    background: linear-gradient(89.93deg, rgba(255, 121, 121, 1.0) 19.93%, rgba(116, 144, 240, 1.0) 70.71%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.blog-banner-div {
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.blog-banner-div::before {
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    background-color: black;
}

.blog-banner-div > h1 {
    margin: 0px;
    align-self: center;
    color: white;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 1;
}

#blog-tag {
    margin: 0px;
    margin-bottom: 32px;
    text-align: center;
    color: white;
    z-index: 1;
}

#blog-time, .blog-category {
    margin: 0px 8px 0px 0px;
    color: #4F4F4F;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    align-self: center;
    font-size: 12px;
}

#blog-info, .blog-info-2 {
    margin-top: 4px;
    padding: 4px 0px;
    background-color: #7490F0;
    min-width: 210px;
    height: 24px;
    border-radius: 32px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    z-index: 1;
}

#blog-info {
    position: absolute;
    bottom: -10px;
}

#info-img1 {
    margin: 0px 8px;
    width:24px;
    height: 24px;
    align-self: center;
}

.title-div > h2 {
    margin: 24px 0px 0px 0px;
}

.content-div, .post-content-div {
    padding: 48px 32px;
    display: flex;
    justify-content: space-between;
}


.post-div, .post-search-div {
    width: 85%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    grid-row-gap: 40px;
}

.side-div {
    min-width: 15%;
    padding-right: 16px;
}

.post-box, .blog-box {
    position: relative;
    width: 360px;
    height: 400px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.wrapper.hidden {
    display: none;
}

#post-box-image {
    height: 140px;
    border-radius: 8px 8px 0px 0px;
    background-color: #4F4F4F;
}

#post-img {
    width: 100%;
    height: 140px;
    border-radius:  8px 8px 0px 0px;
    object-fit: cover;
}

#post-box-content {
    height: 220px;
    text-align: center;
    overflow: hidden;
    border-top: 3px #7490F0 solid;
}

#box-title-text {
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
}

.wrapper, .ctg-wrapper {
    width: 360px;
}

.wrapper.active {
    display: none;
}

.ctg-wrapper {
    display: none;
}

.ctg-wrapper.active {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#post-box-title-div, .blog-box-title-div {
    overflow: hidden;
    min-height: 50px;
    max-height: 146px;
    width: 360px;
    box-sizing: border-box;
    padding: 24px 0px 0px 0px;
}

#post-box-body-div, .blog-box-desc-div {
    max-height: 164px;
    width: 360px;
    overflow: hidden;
}

#post-box-button {
    height: 38px;
    border-radius: 0px 0px 8px 8px;
    background-color: #e94d4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

#post-box-button > p {
    color: white;
    font-weight: 700;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

#post-box-button:hover {
    background-color: #7490F0;
}

#box-body-text {
    margin: 0px;
    text-align: justify;
    font-size: 16px;
    padding: 8px 16px;
}

.search-form {
    width: 156px;
    height: 32px;
    border-radius: 8px;
    border: 1px #D3D3D3 solid;
    padding: 8px 16px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.make, .edit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7490F0;
    border-radius: 16px;
    width: 156px;
    height: 32px;
    box-sizing: border-box;
    justify-self: center;
    margin-top: 16px;
}

.make:hover {
    background-color: lightgreen;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}

.edit {
    background-color: #e94d4d;
}

.edit:hover {
    background-color: lightgreen;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}

.make > p, .edit > p  {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}

.post-body-area {
    width: 500px;
    height: 500px;
}

.post-input-div {
    width: 700px;
}

#create-post-div {
    margin: 32px 16px;
    max-width: 800px;
    width: 100%;
    min-height: fit-content;
    background-color: white;
    align-self: center;
    border-radius: 8px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#post-form-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0px 0px 0px;
}

#post-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
}

#post-form {
    padding: 0px 16px;
    width: 100%;
    box-sizing: border-box;
}
.post-label {
    margin: 16px 0px;
}

.post-input, .post-input-area, .comment-input-area, .comment-input-area-error, .profile-bio-input {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: 1px lightgrey solid;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 8px 16px;
    resize: none;
}

.post-input.active, .post-input-area.active {
    border: 1px red solid;
}

.comment-input-area, .comment-input-area-error {
    resize: none;
}

.post-form-input{
    border-radius: 8px;
}

.post-input-area {
    height: 400px;
}

#post-button-div {
    margin: 32px 0px;
    display: flex;
    justify-content: center;
}

#post-button {
    width: 160px;
    height: 32px;
    color: white;
    background-color: #7490F0;
    border-radius: 32px;
    border: none;
    box-sizing: border-box;
}

#post-button:hover {
    background-color:#e94d4d;
}

#post-button:active {
    background-color:lightgreen;
}

.info-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog-info-2 {
    position: absolute;
    min-width: 30%;
    max-width: 75%;
    top: 120px;
    display: flex;
    align-content:space-between;
}

.blog-info-box {
    display: flex;
}

.blog-info-3 {
    padding: 4px 0px;
    min-width: 30%;
    height: 20px;
    border-radius: 32px;
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: -15px;
}

.space-div {
    height: 24px;
}

.blog-box {
    height: 400px;
}

.post-view-div, .comment-view-div {
    max-width: 85%;
    border-radius: 8px;
    background-color: white;
    margin-right: 16px;
}

#post-view-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

#post-view-body-div {
    padding: 0px 16px 8px 16px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.side-wrapper{
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
}

.radial {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.radial-label {
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2px;
}

.search-div {
    background: linear-gradient(89.93deg, rgba(255, 121, 121, 0.8) 19.93%, rgba(116, 144, 240, 0.8) 70.71%);
    width: 200px;
    padding: 8px;
    border-radius: 16px;
    justify-self: center;
    width: max-content;
}

.search-wrapper {
    width: 100%;
}

.post-search-div {
    width:100%;
}

.search-wrapper > h3 {
    margin: 0px 0px 24px 16px;
}

#search-text {
    margin-top: 24px;
}

.delete-div {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-text{
    margin: 0px;
}

.del-button {
    text-align: center;
}

.return-text {
    display:inline;
}

.return-text:hover {
    text-decoration: underline 1px solid black;
}

.comment-view-div {
    margin-top: 32px;
    background-color: #f0f0f0;
}

#comment-title {
    margin: 0px;
    padding-top: 8px;
}

.comment-edit-div, .comment-confirm-div {
    display: flex;
    flex-direction: row;
    width: 142px;
    justify-content: space-between;
    padding-bottom: 8px;
}

.comment-edit-div {
    width: 120px;
}

.comment-edit-button, .comment-delete-button {
    display: flex;
    width: 64px;
    height: 32px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
}

.comment-edit-button.underpost, .comment-delete-button.underpost {
    width: 52px;
    height: 24px;
}

.comment-edit-button.modal, .comment-delete-button.modal {
    background-color: #4F4F4F;
}

.comment-edit-button{
    background-color: #7490F0;
}

.comment-delete-button {
    background-color: #e94d4d;
}

.comment-edit-button:hover, .comment-delete-button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.comment-text, #modal-edit-button {
    color: white;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    font-size: 12px;
}

.bottom-bar {
    width: 100%;
    border-bottom: 1px black solid;
}

.post-body-view-text {
    margin: 8px 0px;
}

#comment-form {
    margin-bottom: 20px;
}

#modal {
    position: fixed;
    z-index: 9;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.menu-icon {
    position: relative;
    border: 1px white solid;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 10px;
    height: 24px;
    width: 24px;
    align-self: center;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    display: none;
}
.menu-burger {
    width: 14px;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    transition: all .5s ease-in-out;
}

.menu-burger::before, .menu-burger:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    transition: all .5s ease-in-out;
}

.menu-burger::before {
    transform: translateY(-5px);
}

.menu-burger::after {
    transform: translateY(5px);
}

.menu-icon.active .menu-burger {
    background:transparent;
}

.menu-icon.active .menu-burger::before {
    transform: rotate(-45deg);
}

.menu-icon.active .menu-burger::after {
    transform: rotate(45deg);
}

#modal-box {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    width: 500px;
    min-height: 150px;
    max-height: 300px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    border-radius: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    background-color: white;
    display:none;
}

#modal-top, #modal-bottom {
    width: 100%;
    height: 25px;
    background: linear-gradient(89.93deg, rgba(255, 121, 121, 0.8) 19.93%, rgba(116, 144, 240, 0.8) 70.71%);
    border-radius: 16px 16px 0px 0px;
}

#modal-middle {
    max-height: 250px;
}

#modal-content-div {
    max-height: 250px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-bottom {
    border-radius: 0px 0px 16px 16px;
}

#modal-comment-box {
    max-height: 134px;
    width: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-bottom: 16px;
}

#modal-box-title {
    margin: 0px 0px 16px 0px;
}

.comment-confirm-div {
    width: 160px;
    padding-bottom: 0px;
}

.comment-text-2 {
    margin: 0px;
}

.comment-input-area, .comment-input-area-error {
    width: 400px;
    height:120px;
}

.comment-input-area-error {
    border: 1px red solid;
    height: 82px;
}

#comment-edit-form {
    margin-bottom: 8px;
}

ul, .error-message {
    display: none;
    list-style-type: none;
    padding: 0px;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #666666;
    border-radius: 8px;
    border: 1px gray solid;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 5px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.menu.active {
    opacity: 100%;
}

.menu.active .menu-link {
    display: block;
}

.error-message {
    display: block;
}

#modal-edit-button {
    border: none;
}

.error-text {
    display: none;
}

.error-text-active {
    display: block;
    color: red;
    margin-bottom: 0px;
}

.error-text.active {
    display: block;
    color: red;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-button {
    background-color: snow;
    color: #4F4F4F;
    width: 48px;
    height: 20px;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 4px;
    border: none;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    cursor: pointer;
}

.search-button:hover {
    background-color: lightgreen;
    color: white;
}

.delete-blog-button {
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
}

.pagination, .category-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.pagination.active {
    display: none;
}

.category-select {
    display: none;
}

.current, .current-link {
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
}

.current-link {
    cursor:pointer;
    color: darkblue;
    text-decoration:underline;
}

.current-link:active {
    color: red;
}

.category-box {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    padding: 0px 32px;
    width: 80%;
}

.category-button {
    box-sizing: border-box;
    display: flex; 
    height: 24px;
    width: fit-content;
    margin:0px 2px;
    padding: 0px 8px;
    margin-right: 8px;
    align-items: center;
    border-radius: 8px;
    border: 1px transparent solid;
    transition: ease 0.4s;
}

.category-button.active {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.10);
}

.category-button:hover {
    cursor: pointer;
    border: 1px #7490F0 solid;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.15);
}

.category-button > p {
    font-size: 12px;
    margin: 0px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.profile-box {
    margin: 64px 16px;
    padding: 32px 16px;
    width: 60%;
    background-color: white;
    min-height: 240px;
    align-self: center;
    border-radius: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
    linear-gradient(
      navy 25%,
      lightgray 25%   
    );
}

.profile-image-box {
    width: 30%;
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 173px;
    height: 173px;
    border-radius: 50%;
    align-self: center;
    background-color: lightgray;
    border: 3px white solid;
}

.profile-blog {
    display: flex;
    flex-direction: row;
}

.profile-blog > h3 {
    margin-bottom: 0px;
}

.spacing {
    margin-left: 16px;
    margin-right: 16px;
}

.name-text {
    margin-bottom: 0px;
    color: #7490F0;
    text-align: center;
}

.color-text {
    color: #e94d4d;
}

.edit-profile {
    margin-top: 32px;
    display: flex;
    width: 120px;
    height: 32px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    background-color: #7490F0;
}

.edit-profile > p {
    font-weight: 700;
}

.edit-profile:hover {
    background-color: lightgreen;
}

#profile-box {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    width: 700px;
    min-height: 300px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    border-radius: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    background-color: white;
    display:none;
}

#profile-middle {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-content-div {
    width: 100%;
}

.profile-image-input {
    padding: 0px 16px;
    width: 84%;
    margin-left: 8px;
    margin-bottom: 16px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px #D3D3D3 solid;
    font-size: 16px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
}

.label-div {
    margin-bottom: 8px;
}

.profile-bio-input {
    height: 200px;
    resize:none;
}

#profile-box-title {
    text-align: center;
}

.profile-bio-input.active {
    border: 1px red solid;
}

.bio-error.active {
    display: block;
}

.profile-confirm-div {
    margin: 16px 0px 0px;
    display: flex;
    justify-content: center;
}

.new-post {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    background-color: gray;
    border-radius: 16px;
    width: 156px;
    height: 48px;
    box-sizing: border-box;
    margin-top: 40px;
    border: 1px transparent solid;
}

.new-post:hover {
    background-color: lightgreen;
    border: 1px #7490F0 solid;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}

.new-post > p {
    color: white;
    font-weight: 700;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    margin-right: 30px;
}

.back-button, .mobile-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 24px;
    background-color: lightblue;
    margin-bottom: 8px;
    border-radius: 24px 8px 8px 24px;
}

.back-button > p, .mobile-back-button > p {
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

.back-button:hover, .mobile-back-button:hover {
    background-color: navy;
    cursor: pointer;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
}

.back-button:hover > p, .mobile-back-button:hover > p {
    color: white;
}

.mobile-back-button {
    margin-top: 32px;
    margin-left: 8px;
    margin-bottom: 0px;
    display: none;
}

.post-div-2 {
    width: 85%;
}

.dropdown-select-div {
    display: none;
}

.dropdown-select-div > h3 {
    margin: 0px;
}

@media screen and (max-width: 1440px) {
    .post-div, .post-search-div {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1100px) {

    .info-div {
        height: 350px;
    }

    .head {
        font-size: 32px;
    }

    .head-2 {
        font-size: 24px;
    }

    #image-box1, #text-box2 {
        margin-right: 60px;
    }
    
    #text-box2 {
        padding-left: 32px;
    }

    #image-box2, #text-box1 {
        margin-left: 60px;
    }

    #ad-img1, #ad-img2 {
        height: 200px;
        width: 400px;
    }

    .middle-text > h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 980px) {   
    .post-div, .post-div-2, .post-search-div {
        display: flex;
        flex-direction: column;
    }
    
    .wrapper, .ctg-wrapper {
        align-self: center;
    }

    #post-view-img {
        height: 300px;
    }

    .blog-banner-name {
        font-size: 34px;
        text-align: center;
    }

    .profile-image {
        width: 146px;
        height: 146px;
    }

    #biography-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .input-div {
        width: 430px
    }

    .head {
        font-size: 24px;
    }

    .info-div2 {
        height: 125px;
    }

    .head-2 {
        font-size: 16px;
    }

    #ad-img1, #ad-img2 {
        height: 150px;
        width: 250px;
    }

    .middle-text > h1 {
        font-size: 20px;
    }

    #footer-bar > p {
        font-size: 12px;
    }

    .search-wrapper {
        justify-self: center;
    }

    .comment-form-input {
        width: 230px;
        font-size: 12px;
    }

    .comment-button {
        width: 75px;
        font-size: 12px;
        margin-left: 4px;
    }

    .profile-box {
        width: 475px;
    }

    .profile-image-input {
        width: 79%;
    }
    
    .blog-banner-name {
        font-size: 28px;
    }

    .info-div {
        height: 300px;
    }

    #profile-box {
        width: 85%;
    }

    .category-button > p {
        font-size: 10px;
    }

}

@media screen and (max-width: 600px) {

    .menu-icon {
        display: flex;
    }

    .nav-link-2 {
        display: none;
    }

    .search-div {
        display: none; 
    }

    .search-div.active {
        display: block;
    }

    .category-selector:hover {
        cursor: pointer;
    }

    .create-selector:hover {
        cursor: pointer;
    }

    .search-selector:hover {
        cursor: pointer;
    }

    .rotate-span.active {
        transform: rotate(180deg);
        display: inline-block;
    }

    .category-selector.active {
        color: navy;
    }

    .create-selector.active {
        color: navy;
    }

    .search-selector.active {
        color: navy;
    }

    .dropdown-select-div {
        width: 90%;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px gray solid;
        margin-bottom: 16px;
        padding-bottom: 4px;
    }

    .profile-image-input {
        font-size: 12px;
    }

    .profile-bio-input{
        font-size: 12px;
        height: 125px;
    }

    .comment-edit-button {
        transform: scale(0.8);
    }

    .comment-delete-button {
        transform: scale(0.8);
    }

    .profile-confirm-div {
        margin: 8px 0px 0px;
    }

    #profile-box-title {
        margin-top: 0px;
    }

    .back-button {
        display: none;
    }

    .mobile-back-button {
        display: flex;
    }

    .post-body-view-text {
        font-size: 12px;
    }

    #logo {
        margin-left: 16px;
    }

    #logo-text {
        font-size: 20px;
    }

    #nav-1 {
        margin-right: 16px;
    }

    .post-content-div, .content-div {
        padding: 24px 16px;
        flex-direction: column-reverse;
    }

    .category-box {
        display: none;
    }

    .post-div {
        width: 100%;
    }

    .post-div-2 {
        width: 100%;
    }

    .post-view-div {
        max-width: 100%;
        margin-right: 0px;
    }

    .comment-view-div {
        max-width: 100%;
        margin-right: 0px;
    }

    .comment-form-input {
        width: 210px;
    }
    
    .side-wrapper {
        align-items: center;
        margin-bottom: 16px;
        margin-left: 20px;
    }

    #modal-box {
        width: 85%;
    }

    #modal-box-title {
        font-size: 18px;
    }

    .radial-label {
        font-size: 10px;
    }

    .make, .edit, .new-post {
        width: 120px;
    }

    .new-post > p {
        margin-right: 6px;
    }

    #post-view-img {
        height: 200px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    #create-blog-div, .title-div {
        margin-left: 32px;
    }

    .input-div {
        width: 360px;
    }

    .blog-form-input {
        width: 250px;
        font-size: 12px;
    }

    .post-form-input {
        font-size: 12px;
    }

    label {
        font-size: 16px;
    }

    .post-input, .post-input-area {
        font-size: 12px;
    }

    .post-input-area {
        height: 200px;
    }

    .nav-text {
        margin-left: 15px;
        font-size: 14px;
    }

    .menu-text {
        font-size: 14px;
    }

    .new-post, .make, .edit {
        margin: 0px;
    }

    .buttons-div {
        display: none;
    }

    .buttons-div.active {
        margin-top: 24px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }

    #create-post-div > .title-div {
        margin-left: 48px;
    }

    .info-div {
        flex-direction: column;
        justify-content: center;
    }

    #text-box2 {
        margin-right: 0px;
        width: fit-content;
    }

    #image-box2 {
        margin: 0px;
    }

    #text-box1 {
        margin-left: 0px;
        width: fit-content;
    }

    #image-box1 {
        margin: 0px;
    }

    #login-text {
        width: 90%;
    }

    #login-form-box {
        width: 90%;
    }

    #login-box {
        width: 352px;
        max-height: 436px;
        align-self: center;
    }

    #box-top {
        height:48px;
    }

    #box-bottom {
        height:48px;
    }

    #box-middle {
        width: 100%;
    }

    .link-box {
        width: 100%;
    }

    .login-button {
        width: 100%;
        margin-top: 12px;
        height: 36px;
    }

    .login-form {
        width: 100%;
        height: 36px;
        margin-top: 12px;
    }

    .profile-box {
        width: 90%;
        box-sizing: border-box;
        background-image: linear-gradient( navy 15%, lightgray 15% );
    }

    .profile-image {
        height: 90px;
        width: 90px;
    }

    #biography-text {
        font-size: 12px;
    }

    #comment-edit-form {
        width: 95%;
    }

    .comment-input-area {
        width: 100%;
    }

    .blog-box {
        transform: scale(0.90);
    }

    .category-select.active {
        width: 70%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-row-gap: 16px;
        justify-items: center;
        padding: 8px 2px 8px 8px;
        border-radius: 8px;
        border: 1px gray solid;
    }

    .category-button {
        width: 90%;
        justify-content: center;
    }
}

@media screen and (max-width: 440px) {

    .category-button > p {
        font-size: 9px;
    }

    #blog-tag {
        margin-bottom: 24px;
    }

    .category-select {
        width: 75%;
    }

    .blog-box {
        transform: scale(0.80);
    }

    .post-div {
        grid-row-gap: 16px;
    }

    .wrapper {
        height:350px;
    }

    .edit-profile {
        width: 90px;
    }

    #nav-1 {
        margin-right: 8px;
    }

    .make, .edit, #post-button {
        width: 90px;
    }

    .make > p, .edit > p, #post-button > p {
        font-size: 12px;
    }

    #logo {
        margin-left: 8px;
    }

    #logo > img {
        width:36px;
        height: 36px;
    }

    #logo-text {
        font-size: 16px;
    }

    .nav-text {
        font-size: 14px;
        margin-left: 10px;
    }

    .blog-banner {
        max-height: 120px;
    }

    .blog-banner-name {
        font-size: 18px;
    }

    #blog-tag {
        font-size: 12px;
        text-align: center;
    }

    #comment-title {
        font-size: 18px;
    }

    .search-div {
        transform: scale(0.75);
    }

    .new-post {
        width: 90px;
        height: 36px;
        margin: 0px;
    }

    .new-post > #info-img1 {
        width: 18px;
        height: 18px;
        margin: 0px 4px
    }

    .new-post > p {
        font-size: 12px;
    }

    #create-blog-div, .title-div {
        margin-left: 16px;
    }

    .input-div {
        width: 330px;
    }

    .blog-button {
        width: 90px;
        font-size: 12px;
    }

    .blog-form-input {
        width: 225px;
        font-size: 12px;
    }

    .profile-image-input {
        margin-top: 8px;
        margin-left: 0px;
        width: 100%;
    }
}