<div class="blog-banner">
    <div class="blog-banner-div" style="background-image: url({{ blog.image }});">
        <h1>{{ blog.name }}</h1>
        <p id="blog-tag">{{ blog.description }}</p>
        <div id="blog-info">
            <img id="info-img1" src="..\static\main\images\user.png" alt="ad-img1">
            <p id="blog-time"><span>{{ blog.author }}</span></p>
            <img id="info-img1" src="..\static\main\images\calendar.png" alt="ad-img1">
            <p id="blog-time">{{ blog.created|date:"Y-m-d" }}</p>
        </div>
    </div>
</div>