<div class="category-select">
    {% if page == "blogs" %}
        <div class="category-button active" id="all-mobile" style="background-color: snow;" onclick="category_filter('blogs','all')">
            <p>All</p>
        </div>
    {% elif blog != none %}
        <div class="category-button active" id="all-mobile" style="background-color: snow;" onclick="category_filter('{{blog.author}}','all')">
            <p>All</p>
        </div>
    {% else %}
        <div class="category-button active" id="all-mobile" style="background-color: snow;" onclick="category_filter('posts','all')">
            <p>All</p>
        </div>
    {% endif %}
    {% for category in categories %}
        {%if page == "blogs" %}
            <div class="category-button" id="{{category.name}}-mobile" style="background-color: {{ category.color }};" onclick="category_filter('blogs','{{ category.name }}')">
                <p>{{ category.name }}</p>
            </div>
        {% elif blog != none %}
            <div class="category-button" id="{{category.name}}-mobile" style="background-color: {{ category.color }};" onclick="category_filter('{{blog.author}}','{{ category.name }}')">
                <p>{{ category.name }}</p>
            </div>
        {% else %}
            <div class="category-button" id="{{category.name}}-mobile" style="background-color: {{ category.color }};" onclick="category_filter('posts','{{ category.name }}')">
                <p>{{ category.name }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>