<div class="search-div">
    <form action="{% url 'search' %}" method="GET">
        <div>
            <input class="search-form" type="text" name="q" placeholder="Search">
            <div class="radial">
                <input type="radio" id="All" name="filter" value="All" checked>
                <label class="radial-label" for="All">All</label>
                <input type="radio" id="Blogs" name="filter" value="Blogs">
                <label class="radial-label" for="Blogs">Blogs</label>
                <input type="radio" id="Posts" name="filter" value="Posts">
                <label class="radial-label" for="Posts">Posts</label>
            </div>
        </div>
    </form>
</div>
{% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'create_post' %}">
        <div id="make">
            <p>Make post</p>
        </div>
    </a>
    {% if request.user == blog.author %}
        <a class="nav-link" href="{% url 'edit_blog' blog.name %}">
            <div id="edit">
                <p>Edit blog</p>
            </div>
        </a>
    {% endif %}
    {% if request.user == post.author %}
        <a class="nav-link" href="{% url 'edit_post' post.title %}">
            <div id="make">
                <p>Edit post</p>
            </div>
        </a>
    {% endif %}
{% endif%} 