<div class="search-div">
    <form action="{% url 'search' %}" method="GET">
        <div>
            <input class="search-form" type="text" name="q" placeholder="Search">
            <div class="radial">
                {% if request.get_full_path == "/blogs" or filtr == "Blogs" %}
                    <input type="radio" id="Blogs" name="filter" value="Blogs" checked>
                    <label class="radial-label" for="Blogs">Blogs</label>
                    <input type="radio" id="Posts" name="filter" value="Posts">
                    <label class="radial-label" for="Posts">Posts</label>
                {% else %}
                    <input type="radio" id="Blogs" name="filter" value="Blogs">
                    <label class="radial-label" for="Blogs">Blogs</label>
                    <input type="radio" id="Posts" name="filter" value="Posts" checked>
                    <label class="radial-label" for="Posts">Posts</label>
                {% endif %}
                <div class="button-box">
                    <input class="search-button" type="submit" value="Search">
                </div>
            </div>
            
        </div>
    </form>
</div>
{% if user.is_authenticated %}
    {% if check == True or blog.author == request.user %}
        <a class="nav-link" href="{% url 'create_post_view' %}">
            <div class="edit">
                <p>Make post</p>
            </div>
        </a>
    {% endif %}
    {% if request.user == post.author %}
        <a class="nav-link" href="{% url 'edit_post_view' post.title %}">
            <div class="make">
                <p>Edit post</p>
            </div>
        </a>
        <a class="nav-link" href="{% url 'delete_post_view' post.title %}">
            <div class="edit">
                <p>Delete post</p>
            </div>
        </a>
    {% endif %}
    {% if request.user == blog.author %}
        <a class="nav-link" href="{% url 'edit_blog_view' blog.name %}">
            <div class="make">
                <p>Edit blog</p>
            </div>
        </a>
        <a class="nav-link" href="{% url 'delete_blog_view' blog.name %}">
            <div class="edit">
                <p>Delete blog</p>
            </div>
        </a>
    {% endif %}
    
{% endif %} 