{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="main-body">
        <div class="title-div">
            <h2>Blogs</h2>
        </div>
        {% include "main/components/category-bar.html" %}
        <div class="content-div">
            <div class="post-div">
                {% for blog in page_obj %}
                    <div class="wrapper">
                        <div class="blog-box">
                            <div id="post-box-image">
                                <img id="post-img" src={{ blog.image }} alt="post-img">
                                <div class="info-wrapper">
                                    <div class="blog-info-2">
                                        <div class="blog-info-box">
                                            <img id="info-img1" src="..\static\main\images\user.png" alt="ad-img1">
                                            <p id="blog-time"><span>{{ blog.author}}</span></p>
                                        </div>
                                        <div class="blog-info-box">
                                            <img id="info-img1" src="..\static\main\images\calendar.png" alt="ad-img1">
                                            <p id="blog-time">{{ blog.created|date:"Y-m-d" }}</p>
                                        </div>
                                    </div>
                                    <div class="blog-info-3" style="background-color:{{ blog.category.color }}">
                                        <img id="info-img1" src="..\static\main\images\categories.png" alt="ad-img1">
                                        <p id="blog-time">{{ blog.category.name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div id="post-box-content">
                                <div class="blog-box-title-div">
                                    <h3 id="box-title-text">{{ blog.name }}</h3>
                                </div>
                                <div class="blog-box-desc-div">
                                    <p id="box-body-text">{{ blog.description }}</p>
                                </div>
                            </div>
                            <div class="blog-box-bottom">
                                <a class="nav-link" href="{% url 'view_blog' blog.name %}">
                                    <div id="post-box-button">
                                        <p>Visit blog</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="side-div">
                <div class="side-wrapper">
                    {% include "main/components/side-bar.html" %} 
                </div>
            </div>
        </div>
        {% if page_obj.paginator.num_pages != 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="current" href="?page=1">&laquo; first</a>
                        <a class="current" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a class="current" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="current" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}    
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/category_filter.js' %}"></script>
{% endblock %}