{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="widescreen-body">
        <div class="main-body">
            {% include "main/components/banner.html" %}
            <div class="delete-div">
                <h2 class="delete-text">Are you sure?<h2>
                <div class="blog-box">
                    <div id="post-box-image">
                        {% if post.image == none or post.image == "" %}
                            <img id="post-img" src="\static\main\images\no-image.jpg" alt="no-img">
                        {% else %}
                            <img id="post-img" src={{ post.image }} alt="post-img">
                        {% endif %}
                        <div class="info-wrapper">
                            <div class="blog-info-2">
                                <div class="blog-info-box">
                                    <img id="info-img1" src="..\static\main\images\user.png" alt="ad-img1">
                                    <p id="blog-time"><span>{{ post.author}}</span></p>
                                </div>
                                <div class="blog-info-box">
                                    <img id="info-img1" src="..\static\main\images\Calendar.png" alt="ad-img1">
                                    <p id="blog-time">{{ post.created|date:"Y-m-d" }}</p>
                                </div>
                            </div>
                            <div class="blog-info-3" style="background-color:{{ post.category.color }}">
                                <img id="info-img1" src="..\static\main\images\categories.png" alt="ad-img1">
                                <p id="blog-time">{{ post.category.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div id="post-box-content">
                        <div class="blog-box-title-div">
                            <h3 id="box-title-text">{{ post.title }}</h3>
                        </div>
                        <div class="blog-box-desc-div">
                            <p id="box-body-text">{{ post.body }}</p>
                        </div>
                    </div>
                    <div class="blog-box-bottom">
                        <a class="nav-link" href="{% url 'delete_post' post.title %}">
                            <div id="post-box-button">
                                <p>Delete post</p>
                            </div>
                        </a>
                    </div>
                </div>
                    <div class="del-button">
                        <a class="nav-link" href="{% url 'post' blog.name post.title %}">
                            <p class="return-text">Return</p>
                        </a>
                    </div>
                </a>
            </div>    
        </div>
    </div>
{% endblock %}