{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="widescreen-body">
        <div class="main-body">
            <div class="delete-div">
                <h2 class="delete-text">Are you sure you want to delete your blog?<h2>
                <div class="blog-box">
                    <div id="post-box-image">
                        {% if blog.image == none or blog.image == "" %}
                            <img id="post-img" src="\static\main\images\no-image.jpg" alt="no-img">
                        {% else %}
                            <img id="post-img" src={{ blog.image }} alt="post-img">
                        {% endif %}
                        <div class="info-wrapper">
                            <div class="blog-info-2">
                                <div class="blog-info-box">
                                    <img id="info-img1" src="\static\main\images\user.png" alt="ad-img1">
                                    <p id="blog-time"><span>{{ blog.author}}</span></p>
                                </div>
                                <div class="blog-info-box">
                                    <img id="info-img1" src="\static\main\images\Calendar.png" alt="ad-img1">
                                    <p id="blog-time">{{ blog.created|date:"Y-m-d" }}</p>
                                </div>
                            </div>
                            <div class="blog-info-3" style="background-color:{{ blog.category.color }}">
                                <img id="info-img1" src="\static\main\images\categories.png" alt="ad-img1">
                                <p id="blog-time">{{ blog.category.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div id="post-box-content">
                        <div class="blog-box-title-div">
                            <h3 id="box-title-text">{{ blog.name }}</h3>
                        </div>
                        <div class="blog-box-desc-div">
                            <p id="box-body-text">{{ blog.description }}</p>
                        </div>
                    </div>
                    <div class="blog-box-bottom">
                        <form class="nav-link" action="{% url 'delete_blog_view' blog.name %}" method="post">
                            {% csrf_token %}
                            <div>
                                <input id="post-box-button" class="delete-blog-button" type="submit" value="Delete blog">
                            </div>
                        </form>
                    </div>
                </div>
                    <div class="del-button">
                        <a class="nav-link" href="{% url 'create_blog_view' %}">
                            <p class="return-text">Return</p>
                        </a>
                    </div>
                </a>
            </div>    
        </div>
    </div>
{% endblock %}