{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="main-body">
        <div class="title-div">
            <h1>Edit blog</h1>
        </div>
        <div id="create-blog-div">
            <form action="{% url 'edit_blog' blog.name %}" method="POST">
                {% csrf_token %}
                <div class="input-div">
                    <h3>Name:</h3>
                    <input autofocus class="blog-form-input" type="text" name="blog-name" value="{{ blog.name }}" placeholder="Blog name">
                </div>
                <div class="input-div">
                    <h3>Description:</h3>
                    <input class="blog-form-input" type="textarea" value="{{ blog.description }}" name="description" placeholder="Description">
                </div>
                <div class="input-div">
                    <h3>Category:</h3>
                    <select class="blog-form-input" name="category">
                        {% for category in categories %}
                            {% if category.name == blog.category.name %}
                                <option value={{ category.name }} selected="selected">{{ category.name }}</option>
                            {% else %}
                                <option value={{ category.name }}>{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="input-div">
                    <h3>Image:</h3>
                    <input class="blog-form-input" type="url" name="image" value="{{ blog.image }}" placeholder="Image-url">
                </div>
                <div class="input-div">
                    <div>
                    </div>
                    <input class="blog-button" type="submit" value="Edit blog">
                </div>
            </form>    
        </div>
    </div>
{% endblock %}