{% extends "main/layout.html" %}
{% load static %}

{% block body %}
    <div class="index-body">
        <div class="info-div">
            <div id="text-box1">
                <div>
                    <h1 class="ad-head">Express yourself</h1>
                    <h2>Creating a blog is simple with <span id="adspan1">Inkwell</span></h2>
                </div>
            </div>
            <div id="image-box1">
                <img id="ad-img1" src="..\static\main\images\undraw_blogging_re_kl0d (1).svg" alt="ad-img1">
            </div>
        </div>
        <div class="info-div2">
            <div class="middle-text">
                <h1>Simply register, choose a blog name</h1>
            </div>
            <div class="middle-text">
                <h1>and start posting</h1>
            </div>
        </div>
        <div class="info-div">
            <div id="image-box2">
                <img id="ad-img1" src="..\static\main\images\undraw_public_discussion_re_w9up.svg" alt="ad-img1">
            </div>
            <div id="text-box2">
                <div>
                    <h1 class="ad-head">Engage your readers</h1>
                    <h2>Through comments and <span id="adspan2">discussions</span></h2>
                </div>
            </div>
        </div>
        <div id="footer-bar">
            <p>Ivan Pavić@2022</p>
        </div>
    </div>

{% endblock %}