{% extends "main/components/sign_in.html" %}
{% load static %}

{% block content %}
    <div id="login-text">
        <h3>Sign in</h3>
    </div>
    <form action="#" onsubmit="event.preventDefault(), sign_in()">
        {% csrf_token %}
        <div>
            <input autofocus class="login-form" type="text" name="username" id="username" placeholder="Username">
        </div>
        <div>
            <input class="login-form" type="password" id="password" name="password" placeholder="Password">
        </div>
        <input class="login-button" type="submit" value="Sign in">
    </form>
    <div>
        <p class="error-text">Invalid username/password</p>
    </div>
    <div class="link-box">
        <p class="login-box-text">Dont have an account?</p>
    </div>
    <div class="link-box">
        <a class="login-link" href="{% url 'register' %}">
            <p class="login-link-text">Register</p>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/sign_in.js' %}"></script>
{% endblock %}