{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="widescreen-body">
        <div class="main-body">
            {% include "main/components/banner.html" %}
            {% if postcount == 0 %}
                <div class="title-div">
                    <h2>No posts found</h2>
                </div>
            {% else %}
                <div class="title-div">
                    {% if request.user == blog.author %}
                        <h2>My posts</h2>
                    {% else %}
                        <h2>Recent posts</h2>
                    {% endif %}
                </div>
                {% include "main/components/category-bar.html" %}
            {% endif %}
            <div class="content-div">
                {%if postcount == 0 %}
                    <img id="ad-img1" src="/static/main/images/undraw_not_found_-60-pq.svg" alt="not found">
                {% else %}
                    <div class="post-div">
                        {% for post in page_obj %}
                            <div class="wrapper">
                                {% include "main/components/post-box.html" %}
                            </div>
                        {% endfor %} 
                    </div>
                {% endif %}
                <div class="side-div">
                    {% include "main/components/side-elements.html" %}
                </div>
            </div>
            {% if page_obj.paginator.num_pages != 1 %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a class="current" href="?page=1">&laquo; first</a>
                            <a class="current" href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a class="current" href="?page={{ page_obj.next_page_number }}">next</a>
                            <a class="current" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}      
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/category_filter.js' %}"></script>
{% endblock %}