{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="widescreen-body">
        <div class="main-body">
            {% include "main/components/banner.html" %}
            <div class="mobile-back-button" onclick="history.back()">
                <p>&laquo; Return</p>
            </div>
            <div class="post-content-div">
                <div class="post-div-2">
                    <div class="back-button" onclick="history.back()">
                        <p>&laquo; Return</p>
                    </div>
                    <div class="post-view-div">
                        {% if post.image == none or post.image == "" %}
                            <img id="post-view-img" src="\static\main\images\no-image.jpg" alt="no-img">
                        {% else %}
                            <img id="post-view-img" src={{ post.image }} alt="post-img">
                        {% endif %}
                        <div id="post-view-body-div">
                            <h2>{{ post.title }}</h2>
                            <p class="post-body-view-text">{{ post.body }}</p>
                        </div>
                    </div>
                    <div class="comment-view-div">
                        <div id="post-view-body-div">
                            <h3 id="comment-title">Comments</h3>
                            {% if user.is_authenticated %}
                                <form id="comment-form" onsubmit="event.preventDefault(); create_comment()">
                                    <div>
                                        <input type="hidden" id="comment-post-id" name="post" value="{{ post.id }}">
                                        <input class="comment-form-input" type="text" id="comment" maxlength="600" name="comment" placeholder="Comment">
                                        <input class="comment-button" type="submit" type="button" value="Comment">
                                    </div>
                                </form>
                            {% endif %}
                            {% for comment in page_obj %}
                            <p class="post-body-view-text"><strong>{{ comment.author }}</strong>, {{ comment.created|timesince }} ago:</p>
                            <p class="post-body-view-text">{{ comment.body }}</p>
                                {% if request.user == comment.author %}
                                    <div class="comment-edit-div">
                                        <a href="#" class="nav-link" onclick="event.preventDefault(); showEdit_modal({{ comment.id }})">
                                            <div class="comment-edit-button underpost">
                                                <p class="comment-text">Edit</p>
                                            </div>
                                        </a>
                                        <a href="#" class="nav-link" onclick="event.preventDefault(); showDelete_modal({{ comment.id }})">
                                            <div class="comment-delete-button underpost">  
                                                <p class="comment-text">Delete</p>
                                            </div>
                                        </a>   
                                    </div>
                                {% endif %}
                                <div class="bottom-bar">
                                </div>
                            {% endfor %}
                            {% if page_obj.paginator.num_pages != 1 %}
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a class="current" href="?page=1">&laquo; first</a>
                                            <a class="current" href="?page={{ page_obj.previous_page_number }}">previous</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                        </span>
                                
                                        {% if page_obj.has_next %}
                                            <a class="current" href="?page={{ page_obj.next_page_number }}">next</a>
                                            <a class="current" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            {% endif %}    
                        </div>
                    </div>
                </div>
                <div class="side-div">
                    {% include "main/components/side-elements.html" %}
                </div>
            </div>
            <div id="modal">
            </div>
            <div id="modal-box">
                <div id="modal-top">
                    {% csrf_token %}
                </div>
                <div id="modal-middle">
                </div>
                <div id="modal-bottom">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/post.js' %}"></script>
{% endblock %}