{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="main-body">
        <div class="profile-box">
            <div class="profile-image-box">
                <img class="profile-image" src="..\static\main\images\user.png" alt="ad-img1">
            </div>
            <div class="profile-info-box">
                <div class="section-box">
                    <h2 class="usertext">Cookiechai</h2>
                </div>
                <div class="section-box">
                </div>
                <div class="section-box">
                </div>
            </div>
            <div class="profile-info-box">
                <div class="section-box">
                </div>
                <div class="section-box">
                    <h3>Blog:</h3><p>Blog name</p>
                </div>
                <div class="section-box">
                    <h3>Posts:</h3><p>142</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}