{% extends "main/components/sign_in.html" %}
{% load static %}

{% block content %}
    <div id="login-text">
        <h3>Register</h3>
    </div>
    <form action="#" onsubmit="event.preventDefault(), register_user()">
        {% csrf_token %}
        <div>
            <input autofocus class="login-form" type="text" name="username" id="username" placeholder="Username">
        </div>
        <div>
            <input class="login-form" type="password" name="password" id="password" placeholder="Password">
        </div>
        <div>
            <input class="login-form" type="password" name="confirm" id="confirm" placeholder="Confirm password">
        </div>
        <input class="login-button" type="submit" value="Register">
    </form>
    <div>
        <p class="error-text"></p>
    </div>
    <div class="link-box">
        <p class="login-box-text">Already have an account?</p>
    </div>
    <div class="link-box">
        <a class="login-link" href="{% url 'sign_in_page' %}">
            <p class="login-link-text">Sign in</p>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/register.js' %}"></script>
{% endblock %}