{% extends "main/components/layout.html" %}
{% load static %}

{% block body %}
    <div class="widescreen-body">
        <div class="main-body">
            <div class="title-div">
                <h2>Results for {{ search }} in {{ filtr }}</h2>
            </div>
            {% include "main/components/category-bar.html" %}
            <div class="content-div">
                <div class="search-wrapper">
                {% if filtr == "Blogs" %}
                    <div class="post-search-div">
                        {% for result in results %}
                            <div class="wrapper" id="select-ctg">
                                <div class="blog-box">
                                    <div id="post-box-image">
                                        <a class="nav-link" href="{% url 'view_blog' result.name %}">
                                            {% if result.image == none or result.image == "" %}
                                                <img id="post-img" src="\static\main\images\no-image.jpg" alt="no-img">
                                            {% else %}
                                                <img id="post-img" src={{ result.image }} alt="post-img">
                                            {% endif %}
                                        </a>
                                        <div class="info-wrapper">
                                            <div class="blog-info-2">
                                                <div class="blog-info-box">
                                                    <img id="info-img1" src="..\static\main\images\user.png" alt="ad-img1">
                                                    <p id="blog-time"><span>{{ result.author }}</span></p>
                                                </div>
                                                <div class="blog-info-box">
                                                    <img id="info-img1" src="..\static\main\images\Calendar.png" alt="ad-img1">
                                                    <p id="blog-time">{{ result.created|date:"Y-m-d" }}</p>
                                                </div>
                                            </div>
                                            <div class="blog-info-3" style="background-color:{{ result.category.color }}">
                                                <img id="info-img1" src="..\static\main\images\categories.png" alt="ad-img1">
                                                <p class="blog-category">{{ result.category.name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="post-box-content">
                                        <div class="blog-box-title-div">
                                            <a class="nav-link" href="{% url 'view_blog' result.name %}">
                                                <h3 id="box-title-text">{{ result.name }}</h3>
                                            </a>
                                        </div>
                                        <div class="blog-box-desc-div">
                                            <p id="box-body-text">{{ result.description }}</p>
                                        </div>
                                    </div>
                                    <div class="blog-box-bottom">
                                        <a class="nav-link" href="{% url 'view_blog' result.name %}">
                                            <div id="post-box-button">
                                                <p>Visit blog</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if filtr == "Posts" %}
                    <div class="post-search-div">
                        {% for post in results %}
                            <div class="wrapper" id="select-ctg">
                                {% include "main/components/post-box.html" %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                <div class="side-div">
                    {% include "main/components/side-elements.html" %}
                </div>
            </div> 
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/scripts/search_filter.js' %}"></script>
{% endblock %}