{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Inkwell{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    </head>
    <body>
        <div class="sign_in-body">
            <div id="login-box">
                <div id="box-top">
                    {% if message %}
                        <div>
                            <p class="login-message-text">{{ message }}</p>
                        </div>
                    {% endif %}
                </div>
                <div id="box-middle">
                    {% block content %}
                    
                    {% endblock %}
                </div>
                <div id="box-bottom">
                </div>
            </div>
        </div>
    </body>
</html>